{% extends 'base.html' %}

{% load  static %}

{% block body_block %}

    <!--********************************
			Start Main Content
	  ******************************** -->
        <!-- Hero Area -->
         {% for i in hero_aera %}
        <section class="vs-hero vs-hero-style2" data-wow-delay="0.25s" aria-hidden="true">
            <div class="vs-hero__item2 style2" data-bg-src="{% static 'assets/img/bg/hero-bg-3.jpg' %}">
              <div class="container">
                  <div class="row justify-content-start align-items-center">
                      <div class="col-lg-7 position-relative">
                          <div class="vs-hero__content">
                              <div class="vs-hero__subtitle wow animate__fadeInUp" data-wow-delay="0.60s"><span class="icon"><img src="{{ i.icon_bg.url }}"  width="80" height="80" alt="Hero Icon"></span>{{ i.icon_title }}</div>
                              <h1 class="vs-hero__title wow animate__fadeInUp" data-wow-delay="0.70s">{{ i.title}}</h1>
                              <p class="vs-hero__text wow animate__fadeInUp" data-wow-delay="0.80s">{{ i.note }}</p>
                              <div class="hero-btn wow animate__fadeInUp" data-wow-delay="0.90s">
                                  <a class="vs-btn2" href="index.html">Get Pricing<i class="far fa-long-arrow-right"></i></a>
                                  <a href="https://www.youtube.com/watch?v=moYayPRgaY0" class="play-btn popup-video">
                                      <i class="fas fa-play"></i>
                                  </a>
                              </div>
                          </div>  
                          <span class="shape-mockup hero-shep2 moving d-none d-xl-block" style="left: -120px; bottom: -40%;"><img src="{% static 'assets/img/shapes/clean1.png' %}" alt="hero element"></span>
                      </div>
                  </div>
                  <span class="shape-mockup hero-shep5 spin d-none d-md-block" style="right: 20%; top: 90px;"><img src="{% static 'assets/img/shapes/circle-1.png' %}" alt="hero element"></span>
              </div>
            </div>
            <div class="bubbles">
              <div class="bubble"></div>
              <div class="bubble"></div>
              <div class="bubble"></div>
              <div class="bubble"></div>
              <div class="bubble"></div>
              <div class="bubble"></div>
              <div class="bubble"></div>
              <div class="bubble"></div>
              <div class="bubble"></div>
              <div class="bubble"></div>
            </div>
          <span class="shape-mockup d-xl-block d-none wow animate__fadeInLeft" style="left: 50px; bottom: 60px;"><img src="{% static 'assets/img/shapes/hero-sheap3.png' %}" alt="Hero element"></span>
          <span class="shape-mockup d-xl-block d-none wow animate__fadeInRight" style="right: 0px; bottom: 0px;"><img src="{% static 'assets/img/shapes/hero-shep4.png' %}" alt="Hero element"></span>
        </section>
        {% endfor %}
        <!-- Hero Area End -->
        <!-- Service Area  -->
          <div class="service-layout1">
            <div class="container">
                <div class="service-inner">
                    <div class="row gx-0 wow animate__fadeInUp" data-wow-delay="0.35s">
                        {% for i in service1 %}
                        <div class="col-lg-3 col-md-6 service-style3">
                            
                            <div class="service-content border-right">
                                <div class="icon-btn3"> <span class="icon"><img src="{{ i.icon.url }}" alt="service-icon"></span></div>
                                <h2 class="service-title"><a href="service.html">{{ i.title|safe }}</a></h2>
                                <p class="service-text">{{ i.description }}</p>
                                <span class="shape-mockup" style="right: 0; top: 0;"><img src="{{ i.background_img.url }}" alt="service element"></span>
                                <div class="service-bg1">
                                    <img src="{% static 'assets/img/bg/service-bg2.jpg' %}" alt="service image">
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
         </div> 
         
        <!-- Service Area  -->
        <!-- About Area  -->
        <section class="about-layout1 style3 space-bottom">
            <div class="container">
                <div class="row gx-60 g-5 justify-content-center">
                    <div class="col-xl-6">
                        <div class="img-box2 wow animate__fadeInUp" data-wow-delay="0.55s">
                            <div class="img-icon">
                                <img src="{% static 'assets/img/icon/about-icon1.svg' %}" alt="icon">
                            </div>
                            <div class="img1">
                                <a href="about.html"><img src="{% static 'assets/img/about/about-img-2-1.jpg' %}" alt="About Image"></a>
                            </div>
                            <div class="img2">
                                <a href="about.html"><img src="{% static 'assets/img/about/about-img-2-2.jpg' %}" alt="About Image"></a>
                            </div>
                            <span class="shape-mockup d-lg-block d-block h-100" style="right: 0; top: 0px;"><img src="{% static 'assets/img/shapes/about-line-shape.png' %}" alt="counter element"></span>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-content">
                            <div class="wow animate__fadeInUp" data-wow-delay="0.25s">
                                <div class="title-area title-anime animation-style2">
                                  <span class="sec-subtitle left-shape justify-content-center title-anime__title">ABOUT CLEANING</span>
                                  <h2 class="sec-title title-anime__title">Our Cleaning <span class="title-highlight">Agency</span> For Your City</h2>
                                </div>
                                <p class="about-text">
                                    When you work Angeles House Cleaners Referal Agency cleaning breathe easy because your home will soon
                                </p>
                            </div>
                            
                            <div class="tab-box">
                                <div class="tab-list">
                                    <h3 class="list-title">Why Choose Us</h3>
                                    <ul>
                                        <li class="list-item"><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">100 % Satisfaction Guarante</li>
                                    <li class="list-item"><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">Schedule A Cleaning Time</li>
                                    <li class="list-item"><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">Trained Professionals</li>
                                    <li class="list-item"><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">choose Synergy the Maids</li> 
                                    </ul>
                                                                               
                                </div>
                                <div class="tab-img">
                                    <img src="{% static 'assets/img/about/about-tab-2.jpg' %}" alt="About Image">
                                </div>
                            </div>
                            <div class="contact-box">
                                <img src="{% static 'assets/img/icon/author-icon.png' %}" alt="author image">
                                <div class="contact-content">
                                    <p class="contact-text">Call Helpline</p>
                                    <h6 class="contact-title"><a href="tel:+012325621563">+88(0) 1237 6421</a></h6>
                                </div>
                            </div>
                            <div class="about-inner mb-0 wow animate__fadeInUp" data-wow-delay="0.25s">
                                <a class="vs-btn2" href="about.html">Book service <i class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="shape-mockup z-index-n1 d-lg-block d-none" style="left: 52px; top: 0px;"><img src="{% static 'assets/img/shapes/about-shape-2-1.png' %}" alt="counter element"></span>
            <span class="shape-mockup" style="right: 0; top: 0px;"><img src="{% static 'assets/img/shapes/map-shape-1.png' %}" alt="counter element"></span>
            <span class="shape-mockup z-index-n1" style="right: 120px; bottom: 50px;" ><img src="{% static 'assets/img/shapes/about-shape-2-2.png' %}" alt="counter element"></span>
         </section>
        <!-- About Area End -->

        <!-- Gallery Area start -->
        
         <div class="image-gallery">
            {% for i in gallery %}
            <div class="image-gallery__col image-gallery__one wow animate__fadeInUp" data-wow-delay="0.25s">
              <img src="{{ i.photo.url }}" alt="image gallery">
              <a href="{% static 'assets/img/gallery/gallery-img-2-1.jpg' %}" class="image-gallery__col--popup popup-image">
                <i class="fal fa-plus"></i>
              </a>
            </div>
             {% endfor %}
         </div>
        
        <!-- Gallery Area End -->

        <!-- Service Area  -->
         <section class="service-layout3 space position-relative" data-bg-src="{% static 'assets/img/bg/service-bg3.jpg' %}">
            <div class="container">
                <div class="row justify-content-between position-relative align-items-center">
                    <div class="col-lg-6 col">
                        {% for i in cleaning_service %}
                        <div class="title-area text-left wow animate__fadeInUp title-anime animation-style5" data-wow-delay="0.25s">
                            <span class="sec-subtitle left-shape justify-content-center title-anime__title"> {{ i.title|safe }}</span>
                            <h2 class="sec-title title-anime__title text-white">{{ i.descriptions }}</h2>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-6 col-auto">
                        <div class="arraw-style1">
                            <div class="custom-arraw wow animate__fadeInUp" data-wow-delay="0.45s">
                                <div class="icon-arraw slick-prev" data-slick-prev=".service-slider">
                                    <button class="icon-btn2">
                                        <img src="{% static 'assets/img/icon/arraw-left.svg' %}" alt="icon">
                                    </button>
                                </div>
                                <div class="icon-arraw slick-next" data-slick-next=".service-slider">
                                    <button class="icon-btn2">
                                        <img src="{% static 'assets/img/icon/arraw-right.svg' %}" alt="icon">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row vs-carousel service-slider" data-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-autoplay="true" data-arrows="false">
                    {% for i in cleaning_service1 %}
                    <div class="col-lg-3 wow animate__fadeInUp" data-wow-delay="0.25s">
                        <div class="service-style4">
                            <div class="service-img">
                                <a href="service.html">
                                    <img src="{{ i.img.url }}" alt="Serevice Image" class="w-100">
                                </a>
                                <div class="service-icon">
                                    <span class="shape-mockup" style="left: -14px; top: -10px;"><img src="{% static 'assets/img/shapes/angle-left.png' %}" alt="counter element"></span>
                                    <span class="shape-mockup" style="right: -14px; top: -10px;"><img src="{% static 'assets/img/shapes/angle-right.png' %}" alt="counter element"></span>
                                    <div class="icon-btn3"> <span class="icon"><img src="{{ i.icon_img.url }}" alt="service-icon"></span></div>
                                </div>
                            </div>
                            <div class="service-body">
                                <div class="service-content">
                                    <h2 class="service-title"><a href="service.html">{{ i.title1 }}</a></h2>
                                    <p class="service-text">{{ i.note }}</p>
                                </div>
                                <span class="shape-mockup" style="left: 0px; top: 0px;"><img src="{% static 'assets/img/shapes/service-shape-5.png' %}"  alt="service element"></span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="common-line shape-mockup d-none d-xxl-block" style="top: -7px;">
                <img src="{% static 'assets/img/shapes/line-shep.png' %}" alt="shapes">
            </div>
         </section>
        <!-- Service Area End  -->

        <!-- Book Area -->
        <section class="testi-layout3 space position-relative ">
            <div class="container">
                <div class="row gx-60 z-index position-relative justify-content-center align-items-center">
                    {% for i in review_left %}
                    <div class="col-lg-5 text-center text-xxl-start" >
                        <div class="video-box wow animate__fadeInUp" >
                            <h2 class="video-title h4  title-anime animation-style2" data-wow-delay="0.3s">{{ i.name|safe }}</h2>
                            <a href="{{ i.video.url }}" class="play-btn popup-video">
                                <i class="fas fa-play"></i>
                            </a>
                            <span class="shape-mockup vs-slider-shape-1 d-md-block d-none" style="left: -55%; top: 0%;">
                                <img src="{% static 'assets/img/shapes/cleaning-shapes-1-2.png' %}" alt="cleaning shapes">
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-lg-7">
                        <div class="testi-body">
                            <div class="title-inner">
                                {% for i in review_title %}
                                <div class="title-area text-left wow animate__fadeInUp title-anime animation-style5" data-wow-delay="0.25s">
                                    <span class="sec-subtitle  left-shape justify-content-center title-anime__title">{{ i.name|safe }}</span>
                                    <h2 class="sec-title title-anime__title">{{ i.title|safe }}</h2>
                                </div>
                                {% endfor %}
                                <div class="arraw-style1">
                                    <div class="custom-arraw wow animate__fadeInUp" data-wow-delay="0.45s">
                                        <div class="icon-arraw slick-prev" data-slick-prev=".testi-slider2">
                                            <button class="icon-btn2">
                                                <img src="{% static 'assets/img/icon/arraw-left.svg' %}" alt="icon">
                                            </button>
                                        </div>
                                        <div class="icon-arraw slick-next" data-slick-next=".testi-slider2">
                                            <button class="icon-btn2">
                                                <img src="{% static 'assets/img/icon/arraw-right.sv' %}g" alt="icon">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testi-items wow animate__fadeInUp" data-wow-delay="0.35s">
                                <div class="vs-carousel testi-slider2" data-fade="true">
                                    <div class="testi-content">
                                        <div class="vs-testi__top">
                                            <div class="vs-testi__author">
                                                <h3 class="vs-testi__title">alaxander pall</h3>
                                                <div class="star-rating">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                        {% for i in review %}
                                        <p class="testi-text">
                                           {{ i.review|safe }}
                                        </p>
                                        <div class="vs-testi__top mb-0">
                                            <div class="vs-testi__image">
                                                <img class="img1" src="{{ i.image.url }}" alt="testimonials">
                                            </div>
                                            <div class="vs-testi__author">
                                                <h3 class="vs-testi__title">{{ i.name|safe }}</h3>
                                            </div>
                                            <span class="quote-icon"><i class="fas fa-quote-left"></i></span>
                                        </div>
                                        {% endfor %}
                                    </div>                           
                                    <div class="testi-content">
                                        <div class="vs-testi__top">
                                            <div class="vs-testi__author">
                                                <h3 class="vs-testi__title">rodja hartmann</h3>
                                                <div class="star-rating">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="testi-text">
                                            "Be at ease knowing that your house will be cleaned by Los Angeles House Cleaners Refal Agen cleaning 
                                            in the near future..." When you deal with cleaning breathe from Angeles House ”  
                                        </p>
                                        <div class="vs-testi__top mb-0">
                                            <div class="vs-testi__image">
                                                <img class="img1" src="{% static 'assets/img/testimonial/testi-1-1.png' %}" alt="testimonials">
                                            </div>
                                            <div class="vs-testi__author">
                                                <h3 class="vs-testi__title">rodja hartmann</h3>
                                            </div>
                                            <span class="quote-icon"><i class="fas fa-quote-left"></i></span>
                                        </div>
                                    </div>                                           
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for i in review_left %}
            <div class="testi-shape">
                <span class="testi-bg">
                    <img src="{{ i.image.url }}" alt="testi element">
                </span>
            </div>
            {% endfor %}
            <span class="shape-mockup d-xl-block d-none wow animate__fadeInLeft" style="right: 0px; top: 60px;"><img src="{% static 'assets/img/shapes/map-shape-2.png' %}" alt="Book element"></span>
            <span class="shape-mockup z-index custom-sheap wow animate__fadeInRight" data-wow-delay="0.90s" style="right: 0px; bottom: 80px;"><img src="{% static 'assets/img/shapes/service-shape-man2.png' %}" alt="service element"></span>
        </section>
        <!-- Book Area End  -->
        
        <!-- Counter Area -->
        <div class="counter-layout2 position-relative">
            <div class="counter-style1">
                <div class="container">
                    <div class="row g-4 z-index-common justify-content-lg-between justify-content-center align-items-center ">
                        {% for i in counter %}
                        <div class="col-xl-auto col-lg-6 col-6">           
                            <div class="media-style">
                                <div class="media-inner">
                                    <div class="counter-icon">
                                        <span class="icon"><img src="{{ i.icon_img.url }}" alt="icon"></span>
                                    </div>
                                    <div class="media-counter">
                                        <div class="media-count">
                                            {{ i.count|safe }}
                                        </div>
                                        <p class="media-text">{{ i.name|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                         {% endfor %}    
                    </div>
                </div>
            </div>
            <span class="shape-mockup" style="left: 0; top: 0px;"><img src="{% static 'assets/img/shapes/counter-shape-3-1.png' %}" alt="counter element"></span>
            <span class="shape-mockup" style="right: 0; top: 0px;"><img src="{% static 'assets/img/shapes/counter-shape-3-2.png' %}" alt="counter element"></span>
        </div>
        <!-- Counter Area End -->

        <!--==============================
        Price Area
        ============================== -->
        <section class="package-layout1 space" data-bg-src="{% static 'assets/img/bg/package-bg1.jpg' %}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="title-area text-center wow animate__fadeInUp title-anime animation-style5" data-wow-delay="0.25s">
                            <span class="sec-subtitle justify-content-center title-anime__title">OUR PRICING</span>
                            <h2 class="sec-title title-anime__title text-white">Choose Your Pricing</h2>
                        </div>
                    </div>
                </div>              
                <div class="row g-5">
                    <div class="col-xl-4 col-md-6 wow animate__fadeInUp" data-wow-delay="0.25s">
                        <div class="package-wraper">
                            <div class="package-style1">
                                <div class="package-top">
                                    <div class="package-inner">
                                        <div class="title-area">
                                            <h3 class="package-name">home plan</h3>
                                            <p class="package-text">starter plan</p>
                                        </div>
                                        <div class="package-icon">
                                            <div class="icon-btn3"> <span class="icon"><img src="{% static 'assets/img/icon/service-icon-3-2.svg' %}" alt="service-icon"></span></div>
                                        </div>
                                    </div>
                                    <p class="package-price"><i class="fa-light fa-dollar-sign"></i>29<span class="duration">/month</span></p>
                                </div>
                                <div class="package-body">                                   
                                    <div class="list-style1">
                                        <ul class="list-unstyled mb-0">
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">100 % Satisfaction Guarante</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">Clean all mirrors</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">Dining & Living Room</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">cleaning  your home will soon</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">Bed & Mattress Cleaning</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="package-bottom">
                                    <span class="save-price">save <strong>$20</strong></span>
                                    <div class="star-rating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="price-btn">
                                    <a class="vs-btn2" href="index.html">Book Now<i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow animate__fadeInUp" data-wow-delay="0.45s">
                        <div class="package-wraper">
                            <div class="package-style1">
                                <div class="package-top">
                                    <div class="package-inner">
                                        <div class="title-area">
                                            <h3 class="package-name">office plan</h3>
                                            <p class="package-text">home service</p>
                                        </div>
                                        <div class="package-icon">
                                            <div class="icon-btn3"> <span class="icon"><img src="{% static 'assets/img/icon/service-icon-2-5.svg' %}" alt="service-icon"></span></div>
                                        </div>
                                    </div>
                                    <p class="package-price"><i class="fa-light fa-dollar-sign"></i>45<span class="duration">/month</span></p>
                                </div>
                                <div class="package-body">                                   
                                    <div class="list-style1">
                                        <ul class="list-unstyled mb-0">
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">100 % Satisfaction Guarante</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">Clean all mirrors</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">Dining & Living Room</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">cleaning  your home will soon</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">Bed & Mattress Cleaning</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="package-bottom">
                                    <span class="save-price">save <strong>$20</strong></span>
                                    <div class="star-rating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="price-btn">
                                    <a class="vs-btn2" href="index.html">Book Now<i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow animate__fadeInUp" data-wow-delay="0.65s">
                        <div class="package-wraper">
                            <div class="package-style1">
                                <div class="package-top">
                                    <div class="package-inner">
                                        <div class="title-area">
                                            <h3 class="package-name">apartment plan</h3>
                                            <p class="package-text">home service</p>
                                        </div>
                                        <div class="package-icon">
                                            <div class="icon-btn3"> <span class="icon"><img src="{% static 'assets/img/icon/service-icon-2-6.svg' %}" alt="service-icon"></span></div>
                                        </div>
                                    </div>
                                    <p class="package-price"><i class="fa-light fa-dollar-sign"></i>55<span class="duration">/month</span></p>
                                </div>
                                <div class="package-body">                                   
                                    <div class="list-style1">
                                        <ul class="list-unstyled mb-0">
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">100 % Satisfaction Guarante</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">Clean all mirrors</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">Dining & Living Room</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">cleaning  your home will soon</li>
                                            <li><img src="{% static 'assets/img/icon/right-mark-icon2.svg' %}" alt="icon" class="icon">Bed & Mattress Cleaning</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="package-bottom">
                                    <span class="save-price">save <strong>$20</strong></span>
                                    <div class="star-rating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="price-btn">
                                    <a class="vs-btn2" href="index.html">Book Now<i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="common-line shape-mockup d-none d-lg-block" style="top: -9px;">
                <img src="{% static 'assets/img/shapes/line-shep.png' %}" alt="shapes">
            </div>
        </section>
        <!-- Blog Area -->
          <section class="vs-blog__layout1 space" data-bg-src="{% static 'assets/img/bg/blog-bg1.png' %}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="title-area text-center wow animate__fadeInUp title-anime animation-style5" data-wow-delay="0.25s">
                            <span class="sec-subtitle justify-content-center title-anime__title">OUR UPDATE BLOG</span>
                            <h2 class="sec-title title-anime__title">Updated Natest News</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center vs-carousel" data-slide-show="3" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-autoplay="true" data-arrows="true">
                    <div class="col-xl-4 wow animate__fadeInUp" data-wow-delay="0.25s">
                        <div class="vs-blog__style1">
                            <div class="row gx-4 align-items-center">
                                <div class="col-xl-auto">
                                    <div class="blog-img">
                                        <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog-s-3-1.jpg' %}" alt="Blog Image"></a>
                                        <a href="blog.html" class="blog-cate">Bedroom</a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="blog-content">
                                        <div class="blog-inner-author">
                                            <a href="blog.html" class="blog-date"><i class="fa-regular fa-calendar-days"></i>April 27, 2024</a>
                                            <a href="blog.html" class="blog-date"><i class="far fa-comments"></i>0 Comments</a>
                                        </div>
                                        <h2 class="blog-title"><a href="blog-details.html">Get Launches Cleaning room service</a></h2>
                                        <div class="blog-btn">
                                            <a class="link-btn" href="blog-details.html"><span class="icon"><i class="fa-solid fa-arrow-right"></i></span>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 wow animate__fadeInUp" data-wow-delay="0.45s">
                        <div class="vs-blog__style1">
                            <div class="row gx-4 align-items-center">
                                <div class="col-xl-auto">
                                    <div class="blog-img">
                                        <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog-s-3-2.jpg' %}" alt="Blog Image"></a>
                                        <a href="blog.html" class="blog-cate">apartment</a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="blog-content">
                                        <div class="blog-inner-author">
                                            <a href="blog.html" class="blog-date"><i class="fa-regular fa-calendar-days"></i>April 27, 2024</a>
                                            <a href="blog.html" class="blog-date"><i class="far fa-comments"></i>0 Comments</a>
                                        </div>
                                        <h2 class="blog-title"><a href="blog-details.html">Cleaning services match your lifestyle</a></h2>
                                        <div class="blog-btn">
                                            <a class="link-btn" href="blog-details.html"><span class="icon"><i class="fa-solid fa-arrow-right"></i></span>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 wow animate__fadeInUp" data-wow-delay="0.65s">
                        <div class="vs-blog__style1">
                            <div class="row gx-4 align-items-center">
                                <div class="col-xl-auto">
                                    <div class="blog-img">
                                        <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog-s-3-3.jpg' %}" alt="Blog Image"></a>
                                        <a href="blog.html" class="blog-cate">Bedroom</a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="blog-content">
                                        <div class="blog-inner-author">
                                            <a href="blog.html" class="blog-date"><i class="fa-regular fa-calendar-days"></i>April 27, 2024</a>
                                            <a href="blog.html" class="blog-date"><i class="far fa-comments"></i>0 Comments</a>
                                        </div>
                                        <h2 class="blog-title"><a href="blog-details.html">Meet Your Geaux house cleaning pro</a></h2>
                                        <div class="blog-btn">
                                            <a class="link-btn" href="blog-details.html"><span class="icon"><i class="fa-solid fa-arrow-right"></i></span>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 wow animate__fadeInUp" data-wow-delay="0.85s">
                        <div class="vs-blog__style1">
                            <div class="row gx-4 align-items-center">
                                <div class="col-xl-auto">
                                    <div class="blog-img">
                                        <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog-s-3-4.jpg' %}" alt="Blog Image"></a>
                                        <a href="blog.html" class="blog-cate">Bedroom</a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="blog-content">
                                        <div class="blog-inner-author">
                                            <a href="blog.html" class="blog-date"><i class="fa-regular fa-calendar-days"></i>April 27, 2024</a>
                                            <a href="blog.html" class="blog-date"><i class="far fa-comments"></i>0 Comments</a>
                                        </div>
                                        <h2 class="blog-title"><a href="blog-details.html">exclusive coupon for 10% off  cleaning</a></h2>
                                        <div class="blog-btn">
                                            <a class="link-btn" href="blog-details.html"><span class="icon"><i class="fa-solid fa-arrow-right"></i></span>Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </section>
        <!-- Blog Area End  -->

    
  <!--********************************
			End Main Content
	******************************** -->

{% endblock %}